/** Styling for pages overall **/
body {
    background-color: #ebebeb;
}

/** Styling for the puzzles **/
.line-number {
    float: right !important;
    font-size: 80%;
}
.sortable-code {
    position: static;
    padding-left: 0px;
    /*margin-left: 2%;*/
    float: left;
}
#sortableTrash { width: 38%; }
#sortable { width: 56%; }
.starter { width: 40%; }
.solution {
    width: 58%;
    margin-left: 2%;}
.sortable-code ul {
    color: #333;
    font-size: 120%;
    font-family: monospace;
    list-style: none;
    background-color: #dedede;
    padding-bottom: 60px;
    padding-left: 3px;
    padding-right: 4px;
    margin-left: 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.sortable-code ul:empty {
  padding-bottom: 80px;
}
.sortable-code li, .sortable-code li:before, .sortable-code li:after {
  box-sizing: content-box;
}
ul.output {
    background-color: #FFA;
}
.sortable-code li {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius: 6px;
    background-color:#efefef;
    border:1.4px solid #bcbcbc;
    padding:2px;
    /* Keep difference of 10 to respect padding specified just above */
    padding-left: 30px;
    text-indent: -20px;
    margin-top: 5px;
    overflow: hidden;
    cursor: move;
    box-shadow: 1px 2px 5px 0px rgba(190,190,190,0.6);
}
.sortable-code li span::before {
    content: "\200b";
}
.sortable-code li:hover {
    overflow: visible;
}

ul.incorrect {
    /* border: 1px solid red;
    background-color: #ffefef; */
    border: 1px solid yellow;
    background-color:#FFFF66;
}

ul.correct {
    background-color: #efffef;
    background-color: #DFF2BF;
}

li.incorrectIndent {
    /* border: 1px solid red;
    border-left: 10px solid red; */
    border: 1px solid yellow;
    background-color:#FFFF66;
}

li.correctIndent {
    border: 1px solid green;
    border-left: 10px solid green;
}

li.incorrectPosition, .testcase.fail, .testcase.error {
    /* background-color: #FFBABA;
    border:1px solid red;
    */
    border: 1.5px solid #e4ab00;
    background-color:#ffc107;
    color: #343a40;
}

li.correctPosition, .testcase.pass {
    background-color: #28a745;
    border:1.5px solid #1d8a36;
    color:  white;
}

.red_error {
    border: 1px solid red;
    background-color: red;
    color: white;
    font-weight: bold;
}

.testcase {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.testcase .msg { font-weight: bold; }
.testcase .error { color: red;}
.testcase .feedback { font-weight: bolder;}
.testcase .fail .expected, .testcase .fail .actual {
    color: red;
    font-weight: bolder;
}
.testcase .output {
    display: block;
    white-space: pre;
    background-color: #555555;
    color: white;
    font-size: 12px;
    line-height: 15px;
    margin: 5px;
    padding: 5px;
}

.output {
    white-space: pre;
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;

}

.description
{
    white-space: pre;
}

/** For styling the toggleable elements */
.jsparson-toggle {
    padding: 0 15px;
    display: inline-block;
    border: 1px dashed black;
    z-index: 500;
    cursor: pointer;
    min-width: 10px;
    min-height: 15px;
}
.jsparson-toggle:empty {
    border-color: red;
}
.jsparson-toggle:empty:before {
    content: "??";
    display: block;
    color: red;
}

/** For input within parsons blocks */
.text-box {
    border-width: 0px;
    border-bottom: solid 2px #6c757d;
    width:80px;
    min-width:80px;
    padding: 5px;
    padding-left: 8px;
    font-size: 13.3333px;
    font-family: monospace;
    background-color: white;
    box-shadow:inset 1px 2px 5px rgba(220,220,220,0.6);
    text-shadow: 1px 2px 5px rgba(190,190,190,0.6);
}

.text-box:focus{
    outline:0;
}